 <section>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview" ng-repeat="article in vm.articles">
                    <a ui-sref="articles.view({ articleId: article._id })">
                        <h2 class="post-title" ng-bind="article.title"></h2>
<!--                         <h3 class="post-subtitle"></h3> -->
                    </a>
                    <p class="post-meta" ng-if="article.user">Posted by {{article.user.displayName}} on {{article.created | date:'mediumDate'}}</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
 </section>
